<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="lang" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
    {{> header}}
    <main>
      {{{body}}}
    </main>

    {{> footer}}
    <script src="/vendor/requirejs/require.js"></script>
    <script>
      require(['/javascripts/common.js'], function(rConfig){});
    </script>
  </body>
</html>
